<section class="admin-edit-section">
    <div class="section">
        <div class="section-header">
            <h1>Section Title</h1>
        </div>
        <div class="section-body">
            <label for="">Input 1</label>
            <input type="color" name="" id="">
        </div>
        <div class="section-footer">
            <button>Send</button>
        </div>
    </div>
</section>

<script src='http://localhost:3000/socket.io/socket.io.js'></script>
<script src="/js/admin/edit.js"></script>