<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio</title>
</head>
<body>
    <header class="header">
        <div class="title">
            <h1>Contacto Andarah</h1>
        </div>
        <nav class="nav">
            <div class="nav_item"><a href="http://localhost:8080/home">Inicio</a></div>
            <div class="nav_item nav-new"><a href="http://localhost:8080/client/add">Nuevo</a></div>
            <div class="nav_item"><a href="http://localhost:8080/profile">Perfil</a></div>
        </nav>
    </header>

    <%-body%>

    <script>
    </script>
</body>
</html>