:root {
    --bg-color: #F0EFF4;
    --sec-color: #ffffff;
    --ter-color: #cbcbcb;
    --t-body-color-section: #f8f8f8;
    --t-b-color: #f8f8f8;
    --border-color: #848da542;
    --btn-col: #3D6FE3;
    --btn-hover: #507ce3;
    --bg-modal-color: #0000006b;
    --bg-input: #e2e2e2;
    --danger-col: #dc3545;
    --gen-col: #6694ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: var(--bg-color);
    color: black;
}

/* <========================== { GENERAL } ============================> */

.section {
    width: 800px;
    margin: auto;
}

.section-header {
    background: var(--sec-color);
    border: 1px solid var(--border-color);
    border-radius: 3px 3px 0 0;
    padding: 10px;
}

.section-body {
    padding: 20px;
    background: var(--t-b-color);
    border-right: 1px;
    border-left: 1px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: var(--border-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-footer {
    padding: 10px;
    background: var(--sec-color);
    border: 1px solid var(--border-color);
    border-radius: 0 0 3px 3px;
    display: flex;
    justify-content: space-between;
}

.section-message {
    background: var(--t-b-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 20px;
}

.messages {
    padding: 5px 10px;
}

.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.input-block input, .input-block select {
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--bg-input);
    border-radius: 3px;
    width: 200px;
}

.btn-send-form {
    background: var(--btn-col);
    border: 0;
    border-radius: 3px;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

/*  */
.btn-send-form:hover {
    background: var(--btn-hover);
    transition: 1s;
}

.table-m {
    margin-bottom: 40px;
}

.void-table {
    display: flex;
    justify-content: center;
    color: gray;
}
/* <====================== GENERAL ======================> */

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: var(--sec-color);
    padding: 20px 15px;
    margin-bottom: 40px;
}



.nav {
    padding-right: 40px;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.origins {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: var(--sec-color);
    width: fit-content;
    border-radius: 2px 2px 0 0;
    border: 1px solid var(--border-color);
}

.origin-tab {
    padding: 5px 6px;
    cursor: pointer;
    border-right: 1px solid var(--border-color);
}

.logout {
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 1920px;
    font-size: 12px;
}

.table {
    width: 100%;
	border: 1px solid var(--border-color);
}

.table-head {
    display: flex;
	width: 100%;
	background: var(--sec-color);
	padding: 15px 15px;
    text-transform: uppercase;
    align-items: center;
}

.table-row {
    display: flex;
	width: 100%;
	padding: 10px 10px;
    align-items: center;
    background: var(--t-body-color-section);
}

.row-pending {
    font-weight: bold;
}

.table-row:hover {
    cursor: pointer;
    background: var(--ter-color);
}

.table-data, .head_item {
    flex: 1 1 20%;
    text-align: center;
}

.section-auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: var(--sec-color);
    color: black;
    min-width: 400px;
    height: 300px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-form h1 {
    margin-bottom: 30px;
}

.auth-inputs {
    width: auto;
    display: flex;
    flex-direction: column;

}

.email-input, .pass-input {
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    min-width: 230px;
    background: var(--bg-input);
    color: inherit;
}

.btn-login {
    padding: 10px 10px;
    background: var(--btn-col);
    cursor: pointer;
    margin-bottom: 10px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.btn-login:hover{
    background: var(--btn-hover);
    transition: 0.1s;
}

.lbl-error {
    color: var(--danger-col);
}

.form-client {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--t-body-color-section);
    padding: 20px 30px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    width: 100%;
}

.grid-rows {
    display: flex;
    flex-direction: column;
}

.input-add {
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--bg-input);
    border-radius: 3px;
    width: 200px;
}

.note-add-new-client {
    resize: none;
}

.form-header {
    padding: 20px;
    background: var(--sec-color);
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    width: 100%;
}

.form-footer {
    background: var(--sec-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 3px 3px;
    width: 100%;
}

.input {
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--bg-input);
    border-radius: 3px;
    width: 300px;
}

.lbl-input-add {
    margin: 10px 0 2px 0;
}

.btn-add {
    background: var(--btn-col);
    border: 0;
    border-radius: 3px;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.add-section {
    display: flex;
    justify-content: center;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-edit-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--bg-modal-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.card {
    max-width: 500px;
    background: var(--sec-color);
    padding: 20px 40px;
    z-index: 2;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.form-edit {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.btn-delete {
    margin-left: 5px;
    background: var(--danger-col);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn-save {
    background: rgb(16, 143, 211);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.details-section, .prospect-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colab-section, .prospects-section, .data-section {
    border: 1px solid var(--border-color);
    border-radius: 0 0 3px 3px;
    background: var(--t-b-color);
}

.data-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-data {
    padding: 10px;
}

.data {
    background: var(--gen-col);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(171, 171, 171);
    padding: 10px;
    height: 100px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.general-section, .users-section, .my-clients-section, .prospect {
    width: 800px;
}

.t-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: var(--sec-color);
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-radius: 3px 3px 0 0;
}

.t-section span {
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.t-section button {
    background: var(--btn-col);
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.t-section button:hover {
    background: var(--btn-hover);
}

.colabs, .prospects {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.config-table-head, .config-table-body, .prospects-table-head, .prospect-table-body{
    display: flex;
    justify-content: space-between;
}

.config-table-head, .prospects-table-head{
    border-bottom: 1px solid var(--border-color);
    background: var(--sec-color);
    padding: 10px 0;
}

.t-h, .t-b {
    width: 200px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t-h {
    font-weight: bold;
    padding: 10px;
}

.t-b {
    padding: 10px;
}

.modal-vendedor {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-modal-vendedor {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--bg-modal-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-body {
    z-index: 2;
}

.modal-title {
    background: var(--sec-color);
    width: 160px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.modal-form {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    background: var(--sec-color);
    border-radius: 0 3px 3px 3px;
    border: 1px solid var(--border-color);
}

.modal-form input, .modal-form select {
    width: 280px;
    padding: 8px 20px;
    margin-bottom: 10px;
    background: var(--bg-input);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    color: black;
}

.modal-form label {
    margin: 10px 0 2px 0;
}

.btn-create-user{
    background: var(--btn-col);
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.btn-create-user:hover {
    background: var(--btn-hover);
}

.errors {
    color: var(--danger-col);
    margin: 10px 0;
    text-align: center;

}

.divErrors {
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.prospect-data {
    background: var(--t-b-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.data-input {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.checkbox-edit {
    display: none;
}

.lbl-edit {
    position: relative;
    padding-left: 20px;
}

.lbl-edit::before {
    border: 1px solid gray;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    content: ' ';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 5px;
}

.prospect-footer {
    display: flex;
    justify-content: space-between;
    background: var(--sec-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 3px 3px;
}

.checkbox-edit:checked + .lbl-edit::before {
    background-color: #3D6FE3;
}

.admin-edit-section {
    width: 100vw;
}

.important {
    width: 200px;
}

/* <------------------- { } -------------------> */

.hidden__true {
    display: none;
}

.btnOff {
    opacity: 60%;
}

/* <------------------- { } -------------------> */

.selected:hover {
    background: var(--ter-color);
}




.tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
}

.prospect-data {
    justify-content: space-between;
}