:root {
    --bg-color: #0e1217;
    --sec-color: #25282f;
    --ter-color: #353841;
    --t-body-color-section: #1c1f26;
    --t-b-color: #212529;
    --border-color: #a8b3cf33;
    --btn-col: #267ddd;
    --btn-hover: #3980cc;
    --bg-modal-color: #0000006b;
    --bg-input: #20242c;
    --danger-col: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
body {
    background: var(--bg-color);
    color: white;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: var(--sec-color);
    padding: 20px 0;
}

.title {
    padding-left: 40px;
}

.nav {
    padding-right: 40px;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.logout {
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

.content {
    max-width: 1920px;
    width: 100%;
    font-size: 12px;
}

.table {
    width: 100%;
	border: 1px solid var(--border-color);
}

.table-head {
    display: flex;
	width: 100%;
	background: var(--sec-color);
	padding: 15px 15px;
    text-transform: uppercase;
    align-items: center;
}

.table-row {
    display: flex;
	width: 100%;
	padding: 10px 10px;
    align-items: center;
    background: var(--t-body-color-section);
}

.row-pending {
    font-weight: bold;
}

.table-row:hover {
    cursor: pointer;
    background: var(--ter-color);
}

.table-data, .head_item {
    flex: 1 1 20%;
    text-align: center;
}

.section-auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: var(--sec-color);
    color: white;
    min-width: 400px;
    height: 300px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-form h1 {
    margin-bottom: 30px;
}

.auth-inputs {
    width: auto;
    display: flex;
    flex-direction: column;
}

.email-input, .pass-input {
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    min-width: 230px;
    background: var(--ter-color);
    color: inherit;
}

.btn-login {
    padding: 10px 10px;
    background: var(--btn-col);
    cursor: pointer;
    margin-bottom: 10px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.btn-login:hover{
    background: var(--btn-hover);
    transition: 0.1s;
}

.lbl-error {
    color: var(--danger-col);
}

.form-client {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: var(--t-body-color-section);
    padding: 20px 30px;
    max-width: 830px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.grid-rows {
    display: flex;
    flex-direction: column;
}

.input-add {
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--bg-input);
    border-radius: 3px;
    color: white;
    width: 250px;
}

.note-add-new-client {
    resize: none;
}

.form-header {
    margin-top: 40px;
    padding: 20px;
    width: 830px;
    background: var(--sec-color);
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.form-footer {
    background: var(--sec-color);
    width: 830px;
    padding: 10px;
    display: flex;
    justify-content: end;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 3px 3px;
}

.input {
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--bg-input);
    border-radius: 3px;
    color: white;
    width: 300px;
}

.lbl-input-add {
    margin: 10px 0 2px 0;
}

.btn-add {
    background: var(--btn-col);
    border: 0;
    border-radius: 3px;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.add-section {
    width: 100vw;
}

.form-body {
    min-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-edit-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--bg-modal-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.card {
    max-width: 500px;
    background: var(--sec-color);
    padding: 20px 40px;
    z-index: 2;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.form-edit {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.btn-delete {
    margin-left: 5px;
    background: var(--danger-col);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn-save {
    background: rgb(16, 143, 211);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.details-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colab-section {
    min-width: 600px;
    max-width: 1000px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 3px 3px;
    background: var(--t-b-color);
}

.t-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: var(--sec-color);
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-radius: 3px 3px 0 0;
}

.t-section span {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.t-section button {
    background: var(--btn-col);
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.t-section button:hover {
    background: var(--btn-hover);
}

.colabs {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.config-table-head, .config-table-body {
    display: flex;
    justify-content: space-between;
}

.config-table-head {
    border-bottom: 1px solid var(--border-color);
    background: var(--sec-color);
    padding: 10px 0;
}

.t-h, .t-b {
    width: 200px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t-h {
    font-weight: bold;
    padding: 10px;
}

.t-b {
    padding: 10px;
}


.modal-vendedor {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-modal-vendedor {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--bg-modal-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-body {
    z-index: 2;
}

.modal-title {
    background: var(--sec-color);
    width: 160px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.modal-form {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    background: var(--sec-color);
    border-radius: 0 3px 3px 3px;

    border: 1px solid var(--border-color);
}

.modal-form input, .modal-form select {
    width: 280px;
    padding: 8px 20px;
    margin-bottom: 10px;
    background: var(--bg-input);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    color: white;
}

.modal-form label {
    margin: 10px 0 2px 0;
}

.btn-create-user{
    background: var(--btn-col);
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.btn-create-user:hover {
    background: var(--btn-hover);
}

.errors {
    color: var(--danger-col);
    margin: 10px 0;
    text-align: center;
}

/* <------------------- { } -------------------> */

.hidden__true {
    display: none;
}