<section class="details-section">
    <div class="colab-section">
        <h4 class="t-colabs">Tus usuarios:</h4>
        <div class="colabs">
            <div class="config-table-head">
                <span class="t-h">Usuario</span>
                <span class="t-h">Correo</span>
                <span class="t-h">Estado</span>
                <span class="t-h">Acciones</span>
            </div>
            <div class="config-table-body">
                <span class="t-b">Alex Rizo</span>
                <span class="t-b">david_alejandrorizo18@gmail.com</span>
                <span class="t-b">Activo</span>
                <span class="t-b">Editar</span>
            </div>
        </div>
    </div>
</section>