<section class="details-section">
    <div class="users-section" hidden>
        <div class="t-section">
            <span class="t-section-title"></span>
            <button class="btn-add-user">+</button>
        </div>
        <div class="colab-section">
            <div class="colabs">
                <div class="config-table-head">
                    <span class="t-h">Usuario</span>
                    <span class="t-h">Correo</span>
                    <span class="t-h">Estado</span>
                    <span class="t-h">Acciones</span>
                </div>
                <!-- table rows -->
            </div>
        </div>
    </div>

    <div class="my-clients-section">
        <div class="t-section">
            <span class="t-section-title">Clientes Asignados</span>
        </div>
        <div class="colab-section">
            <div class="colabs">
                <span class="loading-animation">
                    <div class="circle-one"></div>
                    <div class="circle-twee"></div>
                </span>
                <div class="config-table-head">
                    <span class="t-h">Usuario</span>
                    <span class="t-h">Correo</span>
                    <span class="t-h">Estado</span>
                    <span class="t-h">Acciones</span>
                </div>
                <!-- table rows -->
            </div>
        </div>
    </div>
</section>

<div class="modal-vendedor hidden__true">
    <div class="bg-modal-vendedor"></div>
    <div class="modal-body">
        <div class="modal-title">Nuevo vendedor</div>
        <form class="modal-form">
            <label for="name">Nombre</label>
            <input type="text" name="name">
            <label for="email">Correo</label>
            <input type="email" name="email">
            <label for="role">Rol</label>
            <select name="role">
                <option value="2">Administrador</option>
                <option value="3">Vendedor</option>
            </select>
            <label for="password">Contraseña</label>
            <input class="inp-pass" type="text" name="password">
            <span class="errors"></span>
            <button class="btn-create-user">Crear</button>
        </form>
    </div>
</div>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="/js/config.js"></script>