<section class="details-section">
    <div class="general-section table-m">
        <div class="t-section">
            <span class="t-data-section-title">General</span>
        </div>
        <div class="data-section">
            <div class="card-data">
                <span class="data clients-pending">
                    <p>Prospectos Pendientes:</p>
                    <h1 class="pending">0</h1>
                </span>
            </div>
            <div class="card-data">
                <span class="data clients-pending">
                    <p>Prospectos Contactados:</p>
                    <h1 class="contacted"><%= prosContacted.count %></h1>
                </span>
            </div>
            <div class="card-data">
                <span class="data total-clients">
                    <p>Prospectos totales:</p>
                    <h1 class="total"><%= prospects.count %></h1>
                </span>
            </div>
        </div>
    </div>
    
    <div class="users-section table-m" hidden>
        <div class="t-section">
            <span class="t-section-title"></span>
            <button class="btn-add-user">+</button>
        </div>
        <div class="colab-section">
            <div class="colabs">
                <div class="config-table-head">
                    <span class="t-h">Usuario</span>
                    <span class="t-h mobile">Correo</span>
                    <span class="t-h">Rol</span>
                    <span class="t-h">Estado</span>
                </div>
                <!-- table rows -->
            </div>
        </div>
    </div>

    <div class="my-clients-section table-m">
        <div class="t-section">
            <span class="t-clients-section-title">Clientes Asignados</span>
        </div>
        <div class="prospects-section">
            <div class="prospects">
                <div class="prospects-table-head">
                    <span class="t-h">Usuario</span>
                    <span class="t-h">Correo</span>
                    <span class="t-h mobile">Número</span>
                    <span class="t-h">Estado</span>
                </div>
                <!-- table rows -->
            </div>
        </div>
    </div>
</section>

<script src="/js/admin.js"></script>