<section class="body">
    <div class="content">
        <div class="table">
            <div class="table-head">
                <span class="head_item">#</span>
                <span class="head_item">Nombre</span>
                <span class="head_item">Correo</span>
                <span class="head_item">Ciudad</span>
                <span class="head_item">Número de teléfono</span>
                <span class="head_item">Motivo</span>
                <span class="head_item">Fecha de envío</span>
                <span class="head_item">Origen</span>
                <span class="head_item">Asignado a</span>
                <span class="head_item">Nota</span>
                <span class="head_item">Contactado</span>
            </div>
            <!-- < Table row here /> -->
        </div>
    </div>
</section>

<script src='http://localhost:3000/socket.io/socket.io.js'></script>
<script src="/js/index.js"></script>