<section class="body">
    <div class="content">
        <div class="origins">
            <div class="origin-tab" onclick="orderTableByOrigin()">Todos</div>
            <% origins.forEach(origin => { %>
                <div class="origin-tab" onclick="orderTableByOrigin('<%= origin.id %>')"><%= origin.name %></div>
            <% }); %>
        </div>
        <div class="table">
            <div class="table-head">
                <span class="head_item">Nombre</span>
                <span class="head_item mobile">Correo</span>
                <span class="head_item mobile">Ciudad</span>
                <span class="head_item mobile">Número de teléfono</span>
                <span class="head_item mobile">Motivo</span>
                <span class="head_item mobile">Fecha de envío</span>
                <span class="head_item mobile">Origen</span>
                <span class="head_item mobile">Asignado a</span>
                <span class="head_item mobile">Nota</span>
                <span class="head_item">Contactado</span>
            </div>
            <!-- < Table row here /> -->
        </div>
    </div>
</section>

<script src="/js/index.js"></script>