<section class="body">
    <div class="content">
        <div class="table">
            <div class="table-head">
                <span class="head_item">#</span>
                <span class="head_item">Nombre</span>
                <span class="head_item">Correo</span>
                <span class="head_item">Ciudad</span>
                <span class="head_item">Número de teléfono</span>
                <span class="head_item">Motivo</span>
                <span class="head_item">Fecha de envío</span>
                <span class="head_item">Origen</span>
                <span class="head_item">Plataforma</span>
                <span class="head_item">Grupo</span>
                <span class="head_item">Asignado a</span>
                <span class="head_item">Nota</span>
                <span class="head_item">Contactado</span>
            </div>
            <!-- < Table row here /> -->
        </div>
    </div>
</section>

<div class="modal hidden__true">
    <div class="bg-edit-modal"></div>
    <div class="card">
        <h1>Editar Cliente</h1>
        <form class="form-edit">
            <input class="input" name="id" type="hidden">
            <label class="lbl-input-add" for="name">Nombre:</label>
            <input class="input" type="text" name="name" placeholder="Nombre">
            <label class="lbl-input-add" for="name">Correo</label>
            <input class="input" type="text" name="email" placeholder="Correo Electrónico">
            <label class="lbl-input-add" for="name">Ciudad</label>
            <input class="input" type="text" name="city" placeholder="Ciudad">
            <label class="lbl-input-add" for="name">Número de Teléfono</label>
            <input class="input" type="tel" name="phone_number" placeholder="Teléfono" maxlength="15" autocomplete="off">
            <label class="lbl-input-add" for="name">Motivo</label>
            <input class="input" type="text" name="reason" placeholder="Motivo">
            <label class="lbl-input-add" for="name">Origen</label>
            <input class="input" type="text" name="origin" placeholder="Origen">
            <label class="lbl-input-add" for="name">Plataforma</label>
            <input class="input" type="text" name="pl" placeholder="Plataforma">
            <label class="lbl-input-add" for="name">Grupo</label>
            <input class="input" type="text" name="gr" placeholder="Grupo">
            <label class="lbl-input-add" for="name">Asignado a</label>
            <select class="input" type="number" name="staffId">
                <% staff.forEach(user => { %>
                    <option value="<%= user.id %>"><%= user.name %></option>
                <% }); %>
            </select>
            <label class="lbl-input-add" for="name">Nota</label>
            <textarea class="input" name="note" cols="30" rows="10" placeholder="Nota"></textarea>

            <div class="actions">
                <input class="btn-delete" type="button" value="Eliminar">
                <input class="btn-save" type="button" value="Guardar">
            </div>
        </form>
    </div>
</div>

<script src='https://andarah.leadscenter.work/socket.io/socket.io.js'></script>
<script src="/js/index.js"></script>