<section class="add-section">
    <div class="form-body">
        <h1>Añadir nuevo cliente</h1>
        <form action="" class="form-client">
            <input class="input" type="text" name="name">
            <input class="input" type="text" name="email">
            <input class="input" type="text" name="city">
            <input class="input" type="tel" name="phone_number">
            <input class="input" type="text" name="reason">
            <input class="input" type="text" name="contact_status">
            <input class="input" type="date" name="date_contact">
            <input class="input" type="text" name="origin">
            <input class="input" type="text" name="pl">
            <input class="input" type="text" name="gr">
            <input class="input" type="number" name="staffId">
            <textarea name="note" cols="30" rows="10"></textarea>
        </form>
    </div>
</section>