<section class="add-section">
    <div class="form-body">
        <div class="form-header">
            <h2 class="add-title">Nuevo cliente</h2>
        </div>
        <form action="" class="form-client">
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Nombre:</label>
                <input class="input-add" type="text" name="name" placeholder="Nombre">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Correo</label>
                <input class="input-add" type="text" name="email" placeholder="Correo Electrónico">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Ciudad</label>
                <input class="input-add" type="text" name="city" placeholder="Ciudad">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Número de Teléfono</label>
                <input class="input-add" type="ce" name="phone_number" placeholder="Teléfono" maxlength="15" autocomplete="off">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Motivo</label>
                <input class="input-add" type="text" name="reason" placeholder="Motivo">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Fecha de envío</label>
                <input class="input-add" type="date" name="date_contact" placeholder="Fecha de envío">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">¿Ya se Contactó?</label>
                <select class="input-add" type="text" name="contact_status">
                    <option value="0">No</option>
                    <option value="1">Sí</option>
                </select>
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Origen</label>
                <select class="input-add" name="originId">
                    <option value="Web">Web</option>
                    <option value="WhatsApp">WhatsApp</option>
                    <option value="Facebook & Instagram">Facebook & Instagram</option>
                    <option value="Llamada Telefónica">Llamada Telefónica</option>
                    <option value="Visita al Módulo de Ventas">Visita al Módulo de Ventas</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Plataforma</label>
                <select class="input-add" name="plataforma">
                    <option value="Web">Web</option>
                    <option value="WhatsApp">WhatsApp</option>
                    <option value="Facebook & Instagram">Facebook & Instagram</option>
                    <option value="Llamada Telefónica">Llamada Telefónica</option>
                    <option value="Visita al Módulo de Ventas">Visita al Módulo de Ventas</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Grupo</label>
                <input class="input-add" type="text" name="gr" placeholder="Grupo">
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Asignado a</label>
                <select class="input-add" type="number" name="staffId">
                    <% staff.forEach(user => { %>
                        <option value="<%= user.id %>"><%= user.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="grid-rows">
                <label class="lbl-input-add" for="name">Nota</label>
                <textarea class="input-add note-add-new-client" name="note" cols="30" rows="10" placeholder="Nota"></textarea>
            </div>
        </form>
        <div class="form-footer">
            <div class="errors divErrors">
            </div>
            <div>
                <button class="btn-add" type="submit">Crear</button>
            </div>
        </div>
    </div>
</section>

<script src='http://localhost:3000/socket.io/socket.io.js'></script>
<script src="/js/new.js"></script>