<section class="details-section">
    <div class="colab-section">
        <h4 class="t-colabs">Tus colaboradores:</h4>
        <div class="colabs">
            <span>Colaborador 1</span>
            <span>Colaborador 2</span>
            <span>Colaborador 3</span>
            <span>Colaborador 4</span>
            <span>Colaborador 5</span>
        </div>
    </div>
</section>